.components-container {
    /* border: 1px solid black; */
    border-radius: 15px;
    text-align: center;
    width: 1020px;
    height: 640px;
    margin: 0 auto;
    align-content: center;
    background-image: url('./public/img/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.components-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}