.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  /* height: 100vh; */
}

#screen {
  text-align: right;
  width: 220px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 28px;
  margin-bottom: 5px;
}

.buttons {
  vertical-align: top;
  width: 50px;
  height: 50px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 28px;
  margin: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

button.taokap {
  background-color: #e9f190;   
  border: 1px solid #e9f190;
  padding-bottom: 30px;
  
}

.samtau {
  position: relative;
  right: 26.5px;
}

button:hover {
  background-color: #df5656;
  border: 1px solid #df5656;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.my-box {
  background-color: rgb(246, 151, 157);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}
